@media(max-width:800px){
    #home{
        .grid{
           display:flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           .right{
            display:none;
           }
        }
    }
    .we__offer{
       .container{
        .grid{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:0;
            .grid-item{
                width:100%;
                min-height:200px;
            }
            .background,.images,.font-size{
                height:350px;
                .back{
                    height:60%

                }
            }
        }
       }
    }
    #testimonials {
        padding:0px 40px;
        .container{
            .testimonials{

                grid-template-columns:1fr;
                align-items: center;
                justify-content: center;
            }

        } 
    }
    #check{
        .container{
            flex-direction: column;
            h2,a{
                font-size:22px
            }
        }
    }
}